@import "../stylesheet/shared/colors.scss";

.products-body {
  background-color: $light-grey;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 50px 30px;
  @media screen and (max-width: 767px) {
    grid-template-columns: auto auto;
  }
  @media screen and (max-width: 622px) {
    grid-template-columns: auto;
  }

  .product-container {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 95px;
  }
  img {
    max-width: 210px;
    height: 100px;
    margin-bottom: 45px;
  }
  h2 {
    font-size: 16px;
    font-weight: 500;
  }
  .product-cta {
    background-color: $dark-grey;
    padding: 15px 40px;
    color: $white;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: #555e5f;
    }
  }
}
