@import "../stylesheet/shared/colors.scss";

.FooterContainer {
  bottom: 0;
  top: auto;
  position: fixed;
  width: 50%;
  max-width: 460px;
  padding: 5px;
  background-color: white;
  hr {
    border: none;
    background-color: $dark-grey;
    color: $dark-grey;
    height: 1px;
  }
  .total{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    p { 
      justify-self: end;
      padding-right: 5px;
    }
  }
  @media screen and (max-width: 580px) {
    .total {
      display: block;
    }
  }
  .checkout-cta {
    background-color: $dark-grey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 20px;
    width: 100%;
    cursor: pointer;
    &:hover {
      background-color: #555e5f;
    }
  }
}
